@import url(//db.onlinewebfonts.com/c/08c965415bf06c986d8fe29a1e8ca8d8?family=SignorW01-UltraBlack);

@font-face {
  font-family: 'SignorW01-UltraBlack';
  src: url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.eot');
  src: url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.svg#SignorW01-UltraBlack')
      format('svg');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-family: 'SignorW01-UltraBlack';
}
