@import url(//db.onlinewebfonts.com/c/08c965415bf06c986d8fe29a1e8ca8d8?family=SignorW01-UltraBlack);

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@font-face {
  font-family: 'SignorW01-UltraBlack';
  src: url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.eot');
  src: url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/08c965415bf06c986d8fe29a1e8ca8d8.svg#SignorW01-UltraBlack')
      format('svg');
}
@import "./assets/styles/buttons.css";
@import "./assets/styles/layouts.css";
@import "./assets/styles/form.css";
@import "./assets/styles/player-results.css";
:root {
  --primary-color : #0051b9;
  --secondary-color : rgb(10, 115, 229);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-family: 'Lilita One';
  @apply text-3xl text-white;
}
/* .angled-element:before,
.angled-element:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-3deg);
} */

.angled-element:after {
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

div.angled-element,
button.angled-element {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
  width: 50%;
  background-color: #eee;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewX(-10deg);
  border-radius: 2px;
}

.angle-element {
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.app__navigation {
  background-color: #233A92;
  transform: skewY(-0.5deg);
  @apply w-full justify-around fixed flex h-24;
  top: -0.5rem;
}

.app__navigation > .relative {
  @apply absolute top-4;
}

.text-shadow {
  text-shadow: 0 2.5px 1px black;
}