.button__holder {
  @apply cursor-pointer;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: 'Lilita One';
  font-size: 16px;
  line-height: 1;
  position: relative;
  padding: 0;
}

.button__holder::after {
  content: '';
  background: transparent;
  height: 4px;
  display: block;
  position: relative;
  opacity: 1;
  width: 10px;
}

.button__holder > span {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1;
  margin: 0;
  min-width: 0;
  padding: 16px 29px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  z-index: 1;
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
}

.button__holder > div.button__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  transition: -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.button-bg__shadow {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #110111;
  z-index: 0;
}
.button-bg__background {
  background: #0a73e5;
}

.button-bg__background--hover,
.button-bg__background {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid black;
}

.button-bg__background--hover {
  background: rgba(0, 0, 0, 0.33);
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.button-bg__underline {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: 4px;
  opacity: 0.33;
  background: #000000;
}

.button__disabled {
  @apply cursor-not-allowed;
  background-color: #7E7E7E;
}

.button__primary {
  background: #0a73e5;
}