.BS__holder {
  @apply flex h-screen relative w-full;
}

.BS--holder__gradient {
  background-image: linear-gradient(to top, #0051b9, #0199ef);
}

.BS--skulls__background {
  @apply absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.BS--skulls__wrapper {
  @apply relative;
  display: block;
  width: 100%;
  height: 100%;
}
.skulls__background {
  background: #6d646d url('../images//brawl-BG_Pattern.svg') repeat center;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  /* background-size: 234px 234px; */
  opacity: 0.075;
}

.layout__view {
  @apply w-full flex flex-col justify-center h-full align-top;
  z-index: 1;
}

@screen xs {
  .layout__view {
    @apply w-4/5 mx-auto;
  }
}